body {
    font-family: 'Lucida Console', 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    margin: 8px;
    border-radius: 0.5em 0.5em 0.7em 0.7em;
    min-width: 4em;
    height: 3em;
    box-shadow: 4px 4px 3px 0px teal;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;  
    align-items: stretch;
    justify-items: stretch;
}

.highlighted {
    outline: 5px solid hotpink;
}

#display {
    background-color: #000;
    color: #FFF;
    padding: 0rem 1rem;
    text-align: right;
    font-size: 5em;
    grid-column: 1 / 6;
}

#equal, #clear {
    grid-column: 4 / 6;
}

#del {
    grid-column: 3;
}